.container {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.item {
  font-size: 15px;
  /* デフォルトのフォントサイズ */
  margin-right: 0.5rem;
  color: var(--brown);
  width: var(--small-heading3);
  height: var(--small-heading3);
}