:root {
  /* color */
  --white: #fffffe;
  --light-white: #f8f8f8;
  --yellow: #e6cd8c;
  --light-yellow: rgba(230, 205, 140, 0.6);
  --pink: #e4c6a6;
  --light-pink: rgba(228, 198, 166, 0.4);
  --brown: #8e775d;
  --light-gray: #ccc8c8;
  --dark-gray: #707070;
  --light-black: #222222;
  --black: #000000;

  /* タイポグラフィ（フォントサイズ） */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); /* 16-18px */
  --display: clamp(4.5rem, 1.83rem + 11.34vw, 10rem); /* 72-160 */
  --heading1: clamp(2rem, 1.3rem + 3vw, 4rem); /* 32-64px */
  --heading2: calc(var(--body) * 1.5); /* 24-27px */
  --heading3: calc(var(--body) * 1.2); /* 19.2-21.6px */
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem); /* 14-27px */
  --small-heading3: calc(var(--small-heading2) * 0.86); /* 12-23px */

  /* スペース（余白・間隔） */
  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem); /* 20-30px */
  --space-sm: calc(var(--space-xs) * 1.5); /* 30-45px */
  --space-md: calc(var(--space-xs) * 2); /* 40-60px */
  --space-lg: calc(var(--space-xs) * 3); /* 60-90px */
  --space-xl: calc(var(--space-xs) * 4); /* 80-120px */
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem); /* 20-60px */

  /* デスクトップ・モバイル対応幅 */
  --deskTop: 768px;
  --mobile: 767px;
}

/* 基本設定 */
body {
  color: var(--black);
  font-family: 'Noto Sans Kannada-Thin', sans-serif;
  font-size: var(--body);
  font-weight: normal;
}

body {
  font-family: 'Noto Sans Kannada', sans-serif;
}
h1,
h2 {
  color: var(--brown);
  font-family: 'Agenda-Thin';
  font-weight: normal;
}

h3,
p {
  color: var(--brown);
  /* font-family: 'Noto Sans Kannada-Thin', sans-serif; */
  font-family: 'Agenda-Thin', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: var(--heading1);
}

h2 {
  font-size: var(--heading2);
}

h3 {
  font-size: var(--heading3);
}

p {
  font-size: var(--small-heading3);
}

/* next/image */
span > img {
  transition: 0.2s;
}

/* リセット */
body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
