/* 共通 */
.logo{
  width: 440px;
  height: 48px;
  object-fit: contain;
  font-family: 'Agenda-Thin';
  font-size: 48px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--brown);
}

/* デスクトップ */
@media (min-width: 768px) {
  .logo {
    margin: 8px 17px 14px 0;
  }
}

/* モバイル */
@media (max-width: 767px) {
  .logo {
    margin: 24px 17px 14px 0;
  }
}
