.text {
  padding-top: calc(var(--display) * 0.8);
  padding-bottom: calc(var(--display) * 0.3);
}

.title {
  font-size: var(--small-heading2);
  color: var(--brown);
}

.subtitle {
  font-size: var(--small-heading2);
  color: var(--brown);
}
