.wrapper {
  padding: var(--space-xs) 0;
  width: 92%;
  margin: 0 auto;
}

.flexContainer {
  composes: sideBySideCenter from 'styles/utils.module.css';
  display: flex;
  align-items: center;
}

.h3,
.p {
  flex: 1;
  /* コンテンツは残りの可用領域を占有 */
  line-height: 0;
}

/* image */
.image {
  width: 100%;
}

@media (min-width: 768px) {
  .image {
    flex: 0 0 auto;
    margin-right: 1rem;
    /* 画像とタイトルの間の余白を設定 */
    width: 50%;
  }
}