@font-face {
  font-family: 'Agenda-Thin';
  src: url('../fonts/Agenda-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('../fonts/NotoSansCJKjp-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('../fonts/NotoSansCJKjp-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('../fonts/NotoSansCJKjp-DemiLight.woff2') format('woff2');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('../fonts/NotoSansCJKjp-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* color */
  --gray-10: #eeeeee;
  --gray-25: #aaaaaa;
  --gray-50: #707070;
  --gray-75: #444444;
  --black: #222222;
  --accent: #0d87e0;

  --white: #fffffe;
  --light-white: #f8f8f8;
  --yellow: #e6cd8c;
  --light-yellow: rgba(230, 205, 140, 0.6);
  --pink: rgb(255, 228, 200);
  --light-pink: rgba(228, 198, 166, 0.4);
  --brown: #8e775d;
  --light-gray: #f3f3f3;
  --dark-gray: #707070;
  --light-black: #222222;
  /* --black: #000000; */

  /* タイポグラフィ（フォントサイズ） */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);
  /* 16-18px */
  --display: clamp(4.5rem, 1.83rem + 11.34vw, 10rem);
  /* 72-160 */
  --heading1: clamp(2rem, 1.3rem + 3vw, 4rem);
  /* 32-64px */
  --heading2: calc(var(--body) * 1.5);
  /* 24-27px */
  --heading3: calc(var(--body) * 1.2);
  /* 19.2-21.6px */
  --heading4: calc(var(--body));
  /* 16-18px */
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem);
  /* 14-27px */
  --small-heading3: calc(var(--small-heading2) * 0.86);
  /* 12-23px */

  /* スペース（余白・間隔） */
  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem);
  /* 20-30px */
  --space-sm: calc(var(--space-xs) * 1.5);
  /* 30-45px */
  --space-md: calc(var(--space-xs) * 2);
  /* 40-60px */
  --space-lg: calc(var(--space-xs) * 3);
  /* 60-90px */
  --space-xl: calc(var(--space-xs) * 4);
  /* 80-120px */
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem);
  /* 20-60px */

  /* デスクトップ・モバイル対応幅 */
  --deskTop: 768px;
  --mobile: 767px;
}

/* 基本設定  */
body {
  color: var(--black);
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-weight: 100;
  font-size: var(--body);
  font-weight: normal;
}

h1,
h2 {
  color: var(--brown);
  font-family: 'Agenda-Thin';
  font-weight: normal;
}

h3 {
  color: var(--brown);
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-weight: 100;
}

h4 {
  color: var(--brown);
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-weight: 350;
}

p {
  color: var(--black);
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: var(--heading1);
}

h2 {
  font-size: var(--heading2);
}

h3 {
  font-size: var(--heading3);
}

h4 {
  font-size: var(--small-heading2);
}

p {
  font-size: var(--small-heading3);
}

/* next/image */
span>img {
  transition: 0.2s;
}

/* リセット */
body,
h1,
h2,
h3,
h4,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: 'Noto Sans CJK JP', sans-serif;
}

th {
  background-color: #f2f2f2;
  width: 120px;
  font-weight: 300;
}

td {
  vertical-align: top;
  font-weight: 100;
}


.showOnlyMobile {
  display: none;
}

/* モバイル用のスタイル */
@media (max-width: 768px) {
  .showOnlyMobile {
    display: block;
  }
}

.showOnlyDesktop {
  display: none;
}

/* デスクトップ用のスタイル */
@media (min-width: 767px) {
  .showOnlyDesktop {
    display: block;
  }
}

.item {
  font-size: 15px;
  /* デフォルトのフォントサイズ */
  margin-right: 0.5rem;
  color: var(--brown);
  width: var(--small-heading3);
  height: var(--small-heading3);
  color: var(--dark-gray);
}