.buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.button {
    padding: 20px;
    background-color: var(--brown);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 40%;
}

@media (max-width: 600px) {
    .buttons {
        flex-direction: column;
    }

    .button {
        width: 100%;
        margin-bottom: 10px;
    }
}