@media (min-width: 768px) {
  .squareContainer {
    --size: 35px;
    --overlap: -7px;
    top: 7px;
    left: 7px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .squareContainer {
    --size: 26px;
    --overlap: -5px;
    top: 5px;
    left: 5px;
    position: relative;
  }
}

.squareBackground {
  width: var(--size);
  height: var(--size);
  background-color: var(--brown);
}

.squareOverlay {
  position: absolute;
  top: var(--overlap);
  left: var(--overlap);
  width: var(--size);
  height: var(--size);
  background-color: var(--white);
  border: 0.3px solid var(--brown);
  z-index: 1;
  font-size: var(--small-heading3);
  color: var(--brown);
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 767px) {
  .squareOverlay {
    font-size: var(--small-heading1);
  }
}